{% extends 'base.html.twig' %}

{% block title "Home | Tek-Up" %}

{% block body %}
	{% include('security/layouts/_nav.html.twig') %}
	<div class="row">
		<div class="col-lg-1 col-md-1 mx-auto py-1">
			
			{% include("security/_modaCl.html.twig") %}
			
			{% include("security/_modal.html.twig") %}
		</div>
		<div class="col-lg-1 col-md-1 mx-auto py-1">
		
		</div>

   
{% endblock %}
