{% extends 'base.html.twig' %}

{% block title "Connexion | Tek-Up" %}

{% block body %}-

	<div class="row">
		<div class="col-lg-5 col-md-8 mx-auto py-2">
			{% include("security/_form.html.twig") %}
			{% include("security/_modal.html.twig") %}
		</div>
	</div>
{% endblock %}
