<h1>Vous y êtes presque !</h1>

<p>Bonjour
	{{ UserFullName|raw }},
</p>

<p>
	Pour finaliser la configuration de votre compte et commencer à utiliser la plateforme
	<span class="fw-bold">Tek-Up</span>, confirmez que l'e-mail enregistré pour vous est correct.

	<br><br>
	<a class="btn btn-primary" href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
</p>

<p>Cordialement,</p>

<p>
	Tek-Up - Université Tek-Up GLSI A 2021-2022
</p>
