{% extends 'base.html.twig' %}

{% block title %}New RegFormationOnline{% endblock %}

{% block body %}
    <h1>Create new RegFormationOnline</h1>

    {{ include('reg_formation_online/_form.html.twig') }}

    <a href="{{ path('reg_formation_online_index') }}">back to list</a>
{% endblock %}
