{% extends 'admin/base.html.twig' %}

{% block title "Créer une formation"  %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">

			<h3 class="mb-3 fw-normal text-center text-break">
				Créer une formation
			</h3>
			{# Formulaire #}
			{{ include("admin/formation/_form.html.twig") }}
			{# Formulaire #}

			{# Boutton annuler #}
				<button class="btn btn-link mt-3" onclick="window.history.back();"> Annuler</button>
			{# end Boutton annuler #}

		</div>
	</div>
	<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
