{% extends 'base.html.twig' %}

{% block title "Inscription | Étudiant" %}

{% block body %}

	<div class="row">
		<div class="col-lg-6 col-md-8 mx-auto py-2">
			<img class="mb-4 mx-auto d-block" src="{{ asset('img/tekup.jpg') }}" alt="tekup" width="250" height="100">
			<h3 class="mb-3 fw-normal text-center">Créer un compte étudiant</h3>
			{{ include("registration/_form.html.twig", {'etudiant' : etudiant}) }}
			<p class="mt-3">
				<small>
					Vous êtes un enseignant ?
					<a href=" {{ path('app_registration_etudiant')}} ">S'inscrire ici</a>
				</small>
			</p>
		</div>
	</div>
{% endblock %}
