{% extends 'base.html.twig' %}

{% block title "+ Cours" %}

{% block body %}
	<div class="row">
		<div class="col-lg-6 col-md-10 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">
				Créer un espace de cours
			</h3>
			{{ include("classe_de_cours/_form.html.twig") }}
		</div>
	</div>
{% endblock %}
