{% extends 'base.html.twig' %}

{% block title "Réinitialisation de mot de passe" %}

{% block body %}

	<div class="row">
		<div class="col-lg-5 col-md-8 mx-auto py-2">

			{% if not app.user %}
				<img class="mb-4 mx-auto d-block" src="{{ asset('img/tekup.jpg') }}" alt="tekup" width="150" height="100">
			{% endif %}

			<h3 class="mb-3 fw-normal text-center">Réinitialiser votre mot de passe</h3>

			{{ form_start(resetForm) }}
			{{ form_row(resetForm.plainPassword) }}

			<div class="d-grid gap-2 mt-3">
				<button class="btn btn-primary">
					Réinitialiser le mot de passe
				</button>
			</div>
			{{ form_end(resetForm) }}

		</div>
	</div>

{% endblock %}
