{% extends 'base.html.twig' %}

{% block title "Mot de passe | Mon profil" %}

{% block body %}

	<div class="row">
		<div class="col-lg-4 col-md-10 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">
				Modifier le mot de passe
			</h3>
			{{ include("profil/_form/_formMotDePasse.html.twig") }}
		</div>
	</div>
{% endblock %}
