{% extends 'admin/base.html.twig' %}

{% block title "Administration | Accueil " %}

{% block body %}
	<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">

		<div class="col">
			<div class="card text-white bg-dark text-center">
				<h5 class="card-header">Formations</h5>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<a href="" class="btn btn-outline-light mt-1">Voir plus...</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-white bg-dark text-center">
				<h5 class="card-header">Étudiants</h5>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<a href="" class="btn btn-outline-light mt-1">Voir plus...</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-white bg-dark text-center">
				<h5 class="card-header">Enseignants</h5>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<a href="" class="btn btn-outline-light mt-1">Voir plus...</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card text-white bg-dark text-center">
				<h5 class="card-header">Classes de cours</h5>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<a href="" class="btn btn-outline-light mt-1">Voir plus...</a>
				</div>
			</div>
		</div>


	</div>
{% endblock %}
