
<center>
<nav class="navbar navbar-expand   " aria-label="Navbar"  >
	<div class="container navbar-dark bg-dark">

		<a class="navbar-brand" href="{{ path("app_home") }}">
			Tek-Up
		</a>
	
               <ul class="navbar-nav ms-auto me-2">
				<a href="#"  data-bs-target="#exampleModal"></a>
			      
				</ul>

<div class="collapse navbar-collapse" id="mobile-nav">
 <ul class="navbar-nav ml-auto"> 

   <li class="nav-item">

	</li> </ul>
	 </div>
				<div class="">

<button  class="btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Connexion</button>
<button  class="btn-secondary" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">Registration</button>

</div>


	</div>
</nav>

</center>
