body {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.bg-dark {
    background-color: #393e46 !important;
}

/* Card */
.card-custom {
    overflow: hidden;
    min-height: 289px;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  }
  
.card-custom-img {
    height: 100px;
    min-height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
    background-image: url("../img/img_carte.jpg");
}
  
.card-custom-img::after {
    position: absolute;
    content: '';
    top: 60px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 40px;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 545px;
    border-left-width: calc(575px - 5vw);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: inherit;
}
  
.card-custom-avatar img {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
    position: absolute;
    top: 35px;
    left: 1.25rem;
    width: 60px;
    height: 60px;
}

.card-comment {
    border-radius: 4px
}

.card-img-full {
    height: 245px;
    min-height: 245px;
}
/* end Card */



.btn-send-comment {
    color: #0d6efd;
}

.btn-send-comment:hover {
    color: #fff;
    transition: .3s;
}

.dropdown-toggle::after {
    display: none;
}

.link_register_form {
border: none !important;
}  

.link_register_form.active {  
    background-color: #0d6efd !important;
    color: #fff !important;
}

.bg-light-card {
    background-color: rgb(134, 142, 150);
}


.img-card {
    max-height: 180px !important;
}

.img-card-full {
    min-height: 200px !important;
}

.dropdown-card {
    position: absolute;
    top: 10px;
    right: 10px;
}

.accordion-item {
    border: .0625rem solid #dadce0;
}

.alert-danger {
    background: #d14130;
    border-color: #d14130;
    color: #fff;
}

.card-comment-link {
    text-decoration: none;
    color: #6c757d;
    font-size: .875em;
}

.text-small {
    font-size: 85%;
}

.profil-info {
    border: 1px solid #ced4da;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}

.badge-danger {
    background: #d14130;
    border-color: #d14130;
    color: #fff;
}

footer, footer a {
    color: #6c757d;
    transition: linear 0.3s;
}

.list-group a:hover, .list-group a:active  {
    background-color: #e8f0fe !important;
}