{% extends 'base.html.twig' %}

{% block title "Modifier " ~ cours.id %}

{% block body %}

	<div class="row">
		<div class="col-lg-6 col-md-10 mx-auto">
			<h3 class="mb-3 fw-normal text-center text-break">
				Modifier le cours :
				{{ cours.titre }}
			</h3>
			{{ include("cours/_form.html.twig", {"submitButtonText" : "Modifier"}) }}
		</div>
	</div>
{% endblock %}
