{{ form_start(formNomEtPrenom) }}
{{ form_row(formNomEtPrenom.nom) }}
{{ form_row(formNomEtPrenom.prenom) }}
<div class="d-grid gap-2 mt-3">
	<button class="btn btn-primary" type="submit">
		Modifier
	</button>
</div>
{{ form_end(formNomEtPrenom) }}
