{{ form_start(formPhotoDeProfil) }}
{{ form_row(formPhotoDeProfil.imageFile) }}
<div class="d-grid gap-2 mt-3">
	<button class="btn btn-primary" type="submit">
		Modifier
	</button>
</div>
{{ form_end(formPhotoDeProfil) }}
