{{ form_start(formFormation) }}
{{ form_row(formFormation.formation) }}
<div class="d-grid gap-2 mt-3">
	<button class="btn btn-primary" type="submit">
		Modifier
	</button>
</div>
{{ form_end(formFormation) }}
